[Unit]
Description=StorPool PVE HCI watchdog
Documentation=https://repo.storpool.com/public/doc/pve/pve-storpool/

[Service]
Environment="PYTHONPATH=/opt/storpool/pve"
ExecStart=/opt/storpool/pve/sp-watchdog-mux
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
