#!/usr/bin/make -f

%:
	dh '$@'

override_dh_auto_install:
	dh_auto_install -- INSTALL_DATA='install -m 644'

override_dh_installsystemd:
	dh_installsystemd --no-start --no-enable --no-stop-on-upgrade sp-watchdog-mux.service
